#app { height: 250px }


section {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

div {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
}
.swiper {
  width: 100%;
}

.swiper-wrapper {
  width: 100% !important;
  margin-left: 10px !important;
}
.swiper-button-next, .swiper-button-prev {
  margin-top: -50px !important;
  color: #777 !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  width: 210px !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 15px;
}

/*@media (max-width: 900px) {
  .swiper-slide {
    width: 140px !important;
    margin-right: 10px;
  }
  #app { height: 230px }
  .swiper {
    width: 98%;
    height: 100%;
  }  
  .swiper-button-next, .swiper-button-prev {
    margin-top: -50px !important;
  }
}*/

@media (max-width: 600px) {
  .swiper-slide {
    width: 120px !important;
    margin-right: 5px;
  }
  .swiper-button-next, .swiper-button-prev {
    display: none !important;
  }  
  #app { height: 220px }
}
